
        <div id="left">
<button class="swatchButton" id="zFF0000">RED</button>
<button class="swatchButton" id="zFF1900">CRIMSON</button>
<button class="swatchButton" id="zFF2F00">RED ORANGE</button>
<button class="swatchButton" id="zFF4000">SUNSET</button>
<button class="swatchButton" id="zFF6600">ORANGE</button>
<button class="swatchButton" id="zFF7300">CANTELOUPE</button>
<button class="swatchButton" id="zFFA200">CANDLE LIGHT</button>
<button class="swatchButton" id="zFFAE00">GOLD</button>
<button class="swatchButton" id="zFFBF00">SUSPICIOUS BANANA</button>
<button class="swatchButton" id="zFFE440">YELLOW</button>
<button class="swatchButton" id="zEAFF00">LEMON</button>
<button class="swatchButton" id="zD9FF00">HELLAH YELLAH</button>
<button class="swatchButton" id="zA2FF00">LIME</button>
<button class="swatchButton" id="z7BFF00">MELONIOUS THUNK</button>
<button class="swatchButton" id="z51FF00">SHARTRUSE</button>
<button class="swatchButton" id="z00FF0C">GREEN</button>
<button class="swatchButton" id="z00FF3C">AVACADO</button>
<button class="swatchButton" id="z00FF6E">MINT</button>
<button class="swatchButton" id="z00FF77">TEAL</button>
<button class="swatchButton" id="z00FFA6">MARK HOPPUS CUSTOM</button>
<button class="swatchButton" id="z00FFFF">CYAN</button>
<button class="swatchButton" id="z00C8FF">SKY BLUE</button>
<button class="swatchButton" id="z00BFFF">COTTON CANDY</button>
<button class="swatchButton" id="z0099FF">BLUE</button>
<button class="swatchButton" id="z008CFF">TOTALLY NOT BLUE</button>
<button class="swatchButton" id="z0051FF">DEMOCRAT</button>
<button class="swatchButton" id="z000EFF">ROYAL BLUE</button>
<button class="swatchButton" id="z1500FF">THE LETTER "B"</button>
<button class="swatchButton" id="z4800FF">GLUM PLUM BUM THUMB</button>
<button class="swatchButton" id="z6F00FF">PURPLE</button>
<button class="swatchButton" id="z8400FF">VURPLE PILOT</button>
<button class="swatchButton" id="zAE00FF">VIOLET</button>
<button class="swatchButton" id="zB700FF">SOME WEEZER REFERENCE</button>
<button class="swatchButton" id="zBB00FF">POLKA DOT</button>
<button class="swatchButton" id="zD100FF">SANFRANSISCO</button>
<button class="swatchButton" id="zFF00B3">PINK</button>        
<button class="swatchButton" id="zFF00AE">BARBIE'S CORVETTE</button>
<button class="swatchButton" id="zFF0091">CONFUSED CRAYON</button>

        </div>
        <div id="right">
            <div id="placement">
		<%= image_tag("a.png", :class => "swatchImage", :id => "zFF0000", :style => "display:inline" ) %>
            </div>
        </div>
<%= image_tag("a.png", :class => "swatchImage", :id => "zFF0000" ) %>
<%= image_tag("b.png", :class => "swatchImage", :id => "zFF1900" ) %>
<%= image_tag("c.png", :class => "swatchImage", :id => "zFF2F00" ) %>
<%= image_tag("d.png", :class => "swatchImage", :id => "zFF4000" ) %>
<%= image_tag("e.png", :class => "swatchImage", :id => "zFF6600" ) %>
<%= image_tag("f.png", :class => "swatchImage", :id => "zFF7300" ) %>
<%= image_tag("g.png", :class => "swatchImage", :id => "zFFA200" ) %>
<%= image_tag("h.png", :class => "swatchImage", :id => "zFFAE00" ) %>
<%= image_tag("i.png", :class => "swatchImage", :id => "zFFBF00" ) %>
<%= image_tag("j.png", :class => "swatchImage", :id => "zFFE440" ) %>
<%= image_tag("k.png", :class => "swatchImage", :id => "zEAFF00" ) %>
<%= image_tag("l.png", :class => "swatchImage", :id => "zD9FF00" ) %>
<%= image_tag("m.png", :class => "swatchImage", :id => "zA2FF00" ) %>
<%= image_tag("n.png", :class => "swatchImage", :id => "z7BFF00" ) %>
<%= image_tag("o.png", :class => "swatchImage", :id => "z51FF00" ) %>
<%= image_tag("p.png", :class => "swatchImage", :id => "z00FF0C" ) %>
<%= image_tag("q.png", :class => "swatchImage", :id => "z00FF3C" ) %>
<%= image_tag("r.png", :class => "swatchImage", :id => "z00FF6E" ) %>
<%= image_tag("s.png", :class => "swatchImage", :id => "z00FF77" ) %>
<%= image_tag("t.png", :class => "swatchImage", :id => "z00FFA6" ) %>
<%= image_tag("u.png", :class => "swatchImage", :id => "z00FFFF" ) %>
<%= image_tag("v.png", :class => "swatchImage", :id => "z00C8FF" ) %>
<%= image_tag("w.png", :class => "swatchImage", :id => "z00BFFF" ) %>
<%= image_tag("x.png", :class => "swatchImage", :id => "z0099FF" ) %>
<%= image_tag("y.png", :class => "swatchImage", :id => "z008CFF" ) %>
<%= image_tag("z.png", :class => "swatchImage", :id => "z0051FF" ) %>
<%= image_tag("aa.png", :class => "swatchImage", :id => "z000EFF" ) %>
<%= image_tag("ab.png", :class => "swatchImage", :id => "z1500FF" ) %>
<%= image_tag("ac.png", :class => "swatchImage", :id => "z4800FF" ) %>
<%= image_tag("ad.png", :class => "swatchImage", :id => "z6F00FF" ) %>
<%= image_tag("ae.png", :class => "swatchImage", :id => "z8400FF" ) %>
<%= image_tag("af.png", :class => "swatchImage", :id => "zAE00FF" ) %>
<%= image_tag("ag.png", :class => "swatchImage", :id => "zBB00FF" ) %>
<%= image_tag("ah.png", :class => "swatchImage", :id => "zB700FF" ) %>
<%= image_tag("ai.png", :class => "swatchImage", :id => "zD100FF" ) %>
<%= image_tag("aj.png", :class => "swatchImage", :id => "zFF00B3" ) %>
<%= image_tag("ak.png", :class => "swatchImage", :id => "zFF00AE" ) %>
<%= image_tag("al.png", :class => "swatchImage", :id => "zFF0091" ) %>
