<%= form_for(@user, remote: true) do |f| %>
  <p><%= link_to_add_fields "Build A Fort", f, :forts, "create_fort" %>
  <%= f.fields_for :forts do |builder| %>
  <% end %>
	<p><%= link_to_add_fields "Build A Camp", f, :encampments, "create_encampment" %>
	<%= f.fields_for :encampments do |builder| %>
  <% end %>
	<p><%= link_to_add_fields "Propose Trade", f, :trades, "create_trade" %>
	<%= f.fields_for :trade do |builder| %>
  <% end %>
  <%= f.submit "Create", :id => "submitObject", :class => "submitButton" %>
		<button class="cancelButton" id="cancelCreation">Cancel</button>
<% end %>
