<%= form_for(@user, remote: true, autocomplete: "off") do |f| %>
	<p><%= link_to_add_fields "Location", f, :locations, "create_location", -1 %>
	<%= f.fields_for :encampments do |builder| %>
  <% end %>
	<p><%= link_to_add_fields "Propose Trade", f, :trades, "create_trade", -1 %>
	<%= f.fields_for :trade do |builder| %>
  <% end %>
	<p><%= link_to_add_fields "Battle", f, :battles, "create_battle", -1 %>
	<%= f.fields_for :chess do |builder| %>
  <% end %>
	<p><button class="submitBattle" id="submitBattle">Create</button>
  <%= f.submit "Create", :id => "submitObject", :class => "submitButton" %>
<BR>
		<button class="cancelButton" id="cancelCreation">Cancel</button>
<% end %>
