<script>
var gameId = -1
	$( document ).ready(function() {

	});

</script>



<h1>Continue to a Game</h1>
<% @currentGames.each_with_index do |i,index|%>
	<div id="current<%=index%>" class="game">
	<p class="gameName">Game: <%= i.name %></p>
	<button class="join_button" id="<%=i.id%>">Join</button>
	</div>
<% end %>

<h1>Join a New Game</h1>
<% @games.each_with_index do |i,index|%>
	<div id="<%=index%>" class="game">
	<p class="gameName">Game: <%= i.name %></p>
	<button class="join_button" id="<%=i.id%>">Join</button>
	</div>
<% end %>

<%= form_for(@user) do |f| %>
	<%= f.hidden_field :game_id, :id => "game_id" %>
	<%= f.hidden_field :color, :id => "color" %>
	<%= f.fields_for @game do |builder| %>
	   	<%= builder.label :name, "Name"%>
		<%= builder.text_field :name %>
		<%= builder.label :private, "Private" %>
		<%= builder.radio_button :private, "T" %>
		<%= builder.label :private, "Public" %>
		<%= builder.radio_button :private, "F" %>
	   	<%= builder.label :start_date, "Start Delay"%>
		<%= builder.datetime_field :start_date %>


  	<% end %>


  	<%= f.submit "Create", :id => "submit", :class => "button" %>
<% end %>

<div id="colorPicker">
<%= render partial: "color_picker" %>
</div>

