<!DOCTYPE html>
<html>
<head>
  <title>Battleriskopoly</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
<br>
<div id="title" class="box">
    <div class="corner top left"></div>
    <div class="corner top right"></div>
    <div class="content">Battleriskopoly</div>
    <div class="corner bottom left"></div>
    <div class="corner bottom right"></div>
</div>


</head>
<body>
<li><%= link_to "Home", root_path %></li>
<% if signed_in? %>
	<li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
<% else %>
          
<% end %>
<%= yield %>
</body>
</html>
