<!DOCTYPE html>
<html>
<head>
  <title>The War Room</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://localhost:9292/faye/client.js", "type" =>"text/javascript"%>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
<%= image_tag("finwarroom.svg", :width => "35%", :id => "logo") %>
</head>
<body>
<%= yield %>
</body>
</html>
